.row {
    text-align:-webkit-auto;
    margin-left: 5%;
    width: auto;
}
.blog-name {
    color: #c25100;
    font-family: 'Anton', sans-serif;
    position:relative;
}
body {
    padding-left: 0px;
    background-color: #e4e4e4;
}
header {
    width: 100%;
    /* position: fixed;
    top: 0;
    z-index: 100; */
}

main {
    margin-left: 100px;
}

.page-header {
    /* background-color: #C25100; */
    width: 100%;
    height: 230px;
    margin-top: 0;
    background-image: url("images/background.png");
    padding: 20px 20px 20px 40px;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}
.container {
    max-width: 1200px;
}
.content {
    margin-left: 40px;
    /* margin-top: 230px; */
    z-index: 50;
    position:relative;
}
.col-lg-7 {
    /* margin-left:5%; */
    margin-right: 90px;
    max-width: 60%;
    float:left;
}
.col-lg-4 {
    width: auto;
    padding:0px;
}
.col-lg-4 .sidebar {
    /* position:fixed; */
    width: 100%;
    /* float:right; */
    margin-top:50px;
    /* margin-left: 100px; */
}
.col-md-8 {
    margin-left:5%;
    float:left;
}
.sidebar {
    float:right;
    text-align: center;
    padding: 10px;
    border-radius: 19px;
    background: #ebebeb;
    box-shadow:  20px 20px 20px #b0b0b0, -20px -20px 20px #ffffff;
}
.sidebar-list {
    text-align: center;
    padding: 10px;
    border-radius: 19px;
    background: #ebebeb;
    box-shadow: inset 5px 5px 10px #b0b0b0, inset -5px -5px 10px #ffffff;
}
.tag-list {
    margin: 5px 0px;
    padding: 10px;
    border-radius: 19px;
    background: #ebebeb;
    box-shadow: inset 5px 5px 10px #b0b0b0, inset -5px -5px 10px #ffffff;
}
.tag-list p {
    margin: 5px;
}
.date {
    color: #828282;
    font-size:20px;
    margin-top:10px;
}

.post-form textarea, .post-form input {
    width: 100%;
}
.new-post-title {
    margin-top:20px;
}
.top-menu {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.detail-menu {
    color: #ffffff;
    float: left;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}
.post-list {
    margin-bottom: 70px;
    color: #000000;
}

.post-title {
    color: rgb(0, 0, 0);
}

.post-list h2 a, .post-list h2 a:visited {
    color: #000000;
}

.post h2 a, .post h2 a:visited {
    color: #000000;
}
.detail-post {
    clear: both;
    margin: 5px 0px;
    padding: 20px;
    border-radius: 19px;
    background: #ebebeb;
    box-shadow: 1px 1px 1px #b0b0b0, -1px -1px 1px #ffffff;
}
.content-comment-divide {
    margin-top:10rem;
}
.comment {
    margin: 20px 0px 20px 20px;
}
p.comment {
    clear: both;
}
.draft-list {
    margin-top: 20px;
}
.none-draft {
    padding-top: 10px;
    padding-left: 20px;
}
.markdownx-editor {
    float: left;
    width: 50%;
}
form.post-form {
    width: 100%;
}
.markdownx::after {
    content: "";
    display:block;
    clear: both;
    width: 100%;
}
textarea {
    width: 45%;
    box-sizing: border-box;
    float: left;
}
.markdownx-preview {
    width: 45%;
    margin-left: 2%;
    margin-right: 2%;
    float: right;
    word-break: break-all;
}

.post-form textarea, .post-form input {
    width: 50%;
}
.toc {
    /* display: none; */
    float: right;
}
.post-list .toc {
    display:none;
}
.container {
    width: 100%;
}
.list-container {
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 51px;
    background: #ebebeb;
    box-shadow:  20px 20px 40px #b0b0b0, -20px -20px 40px #ffffff;
}
.to-detail-page {
    position: relative;
    z-index: 1;
}
.to-detail-page .to-detail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2;
}
.to-comment {
    z-index: 3;
}
.login-page {
    margin-top: 20px;
}
td [name="username"] {
    text-align: center;
    padding: 10px;
    border-radius: 50px;
    background: #ebebeb;
    box-shadow: inset 5px 5px 10px #b0b0b0, inset -5px -5px 10px #ffffff;
}
td [name="password"] {
    text-align: center;
    padding: 10px;
    border-radius: 45px;
    background: #ebebeb;
    box-shadow: inset 5px 5px 10px #b0b0b0, inset -5px -5px 10px #ffffff;
}
/* ボタンのデザイン */
.button {
    width: 100px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    /* background-color: #fff; */
    border: none;
    /* border-radius: 45px; */
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background: #ebebeb;
    box-shadow:  20px 20px 60px #b0b0b0, -20px -20px 60px #ffffff;
}
.top-menu.button {
    width: 100px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.login-button {
    margin-top: 20px;
    width: 100px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    border: none;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    background: #ebebeb;
    box-shadow:  20px 20px 30px #b0b0b0, -20px -20px 30px #ffffff;
}

.far ,.fas{
    padding-top: 5px;
    color: rgb(0, 0, 0);
}
.date .comment-approve {
    color: #ffffff;
    font-size: 26pt;
    margin: 10px;
    width: 20px;
}
    
.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.save {
    float: right;
    background-color: rgb(245, 243, 243);
}
pre {
    overflow-x: auto;
    max-width: 500px;
}

.add-comment {
    width: 300px;
    color: #000;
    float: left;
    font-size: 20pt;
    margin-right: 20px;
    margin-top: 20px;
}

.comment-mark {
    position: relative;
    top: 4px;
}
a:hover {
    text-decoration: none;
}

.space {
    clear: both;
    margin: 10px 0px;
    padding: 20px
    
}
.detail-space {
    clear: both;
    margin: 10px;
    padding: 5px;
}
.detail-button-list {
    margin-top: 30px;
}
.footer {
    width: 100%;
    margin-top: 100px;
    padding: 30px;
    background-color: #282a36;
    color: #ccc;
    padding: 24px 0px;
}
.reference {
    margin: 12px 0px;
    padding: 12px 0;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
}
.reference li {
    display: inline-block;
    margin-right: 12px;
    color: #ccc; 
}
.reference li a {
    color: #ccc;
    text-decoration: none;
}